
* {
    margin: 0px;
    padding: 0px;
}
.main {
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color:black;
    color:white;
}

.main h1 {
    width: 100%;
    margin: 10px auto;
    display:block;
    position:relative;
    font-size: 35px;
}

.child_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.leaf {
    width: 100%;
    margin-bottom: 40px;
}

.leaf h6
{
    margin-top: 10px ;
    /*margin-bottom: 40px ;*/
    display:block;
    font-size: 20px;
}

.leaf img {
    display: block;
    margin: 0px auto;
}


.description {
    width: 100%;
}


a {
    color: lightblue;
}
