
*
{
    margin: 0px;
    padding: 0px;
}
.main
{
    width: 95%;
    margin: 0px auto;
}

body
{
    background-color:black;
    color:white;
}

.main h1
{
    width: 100%;
    margin: 80px auto;
    display:block;
    position:relative;
    font-size: 80px;
}

.imgContainer
{
    width: 50%;
    display:block;
/*            
    position:relative;
*/            
    float: left;
}

.twoImagesContainer
{
    width: 95%;
 <!--   height: 980px;   -->
    display:block;
    float: left;
}

.headerContainer
{
    width: 100%;
    height: 300px;
    display:block;
    float: left;
}

.innerImg
{
    width: 95%;
    margin-left:auto;
    margin-right: auto;
}

.imgContainer img.liggande 
{            
    image-orientation: 90deg;
}


.imgContainer img
{
    width: 100%;
    max-height: 900px;
    margin: 0px auto;
    object-fit: contain;
/*
    image-orientation: from-image;
*/            
}



.imgContainer h2
{
    margin-top: 10px ;
    margin-bottom: 40px ;
    display:block;
    font-size: 20px;
}

a
{
    color: #fff;
}

a:visited
{
    color: #fff;
}

.contentHeader
{
    color: #ff0;
    font-size: 24px;
    margin: 5px auto;
}

.contentHeader:visited
{
    color: #ff0;
}
